@font-face {
	font-family: 'Inconsolata';
	font-weight: normal;
	src: url('fonts/Inconsolata-Regular.ttf');
}

@font-face {
	font-family: 'Inconsolata';
	font-weight: bold;
	src: url('fonts/Inconsolata-Bold.ttf');
}

.root {
	-fx-background-color: #FFF;
}

#title {
	-fx-font-family: 'Inconsolata';
	-fx-font-weight: bold;
	-fx-font-size: 64;
	-fx-text-fill: #363062;
}

#title.small {
	-fx-font-size: 48;
}

#subtitle {
	-fx-padding: 14;
	-fx-font-family: 'Inconsolata';
	-fx-font-size: 18;
	-fx-text-fill: #827397;
}

.button {
	-fx-padding: 12 24 12 24;
	-fx-background-color: #4D4C7D;
	-fx-background-radius: 5;
	
	-fx-text-fill: #FFF;
	-fx-font-family: 'Inconsolata';
	-fx-font-weight: bold;
	-fx-font-size: 14;
	
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.15), 20, 0, 0, 5);
	-fx-cursor: hand;
}

.button:hover {
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.15), 35, 0, 0, 10);
}

.button:pressed {
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.15), 10, 0, 0, 5);
}

.button.small {
	-fx-padding: 8 16 8 16;
	-fx-font-size: 12;
}