#title {
	font-size: 48;
}

#instructions {
	-fx-padding: 24 32 32 32;
	-fx-font-family: 'Inconsolata';
	-fx-font-size: 14;
}

.instructions-text {
	-fx-text-fill: #4D4C7D;
}

.instructions-bold {
	-fx-font-weight: bold;
}